{% extends 'main/base.html' %}
{% block title %}
   You loged out successfull!
{% endblock %}
{% block content %}
    <h1>You loged out successfull!</h1>
    <a href="{%  url 'user' %}">Log in again</a>
    
{% endblock %}

{% block aside_block %}
   

<h4 class="mt-2">Cool articles</h4>
                <img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail">
                <p> cool engine Dodot. Check this out!</p>
                <a href="https://itproger.com/news/285" target="_blank">
                    <button class="btn btn-warning">Check</button>
                </a>
                <img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail mt-4">
                <p> A 2D game on python!</p>
                <a href="https://itproger.com/news/285" target="_blank">
                    <button class="btn btn-warning">Check</button>
                </a>
{% endblock %}