{% extends 'main/base.html' %}
{% block title %}
   Profile
{% endblock %}
{% block content %}
    <h1>Your Profile</h1>

    <div class="d-flex text-body-secondary pt-3">
        <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="64" height="64" src="{{user.profile.img.url}}">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">{{ user.username }}</strong>
        {% if user.email %}
          <b>Email:</b> {{ user.email }}
          {% endif %}
        </p>
      </div>

{% endblock %}

{% block aside_block %}
   

<h4 class="mt-2">Cool articles</h4>
                <img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail">
                <p> cool engine Dodot. Check this out!</p>
                <a href="https://itproger.com/news/285" target="_blank">
                    <button class="btn btn-warning">Check</button>
                </a>
                <img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail mt-4">
                <p> A 2D game on python!</p>
                <a href="https://itproger.com/news/285" target="_blank">
                    <button class="btn btn-warning">Check</button>
                </a>
{% endblock %}