{% extends 'main/base.html' %}
{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    {{news}}
   
    {% for post in news %}
        <div class="alert alert-light">
            <h1>{{ post.title }}</h1>
            <p>{{post.text}}</p>
            <div class="row">
                <div>
                    <img src="{{ post.autor.profile.img.url }}" alt="{{post.autor}}" class="user_images">
                </div>
            </div>
            <div class="mt-2">
                <span class="text-muted">Publication: {{post.date |date:"j F Y, время: H:i:s"}}</span>
                    <p><b>Autor:</b> <mark>{{post.autor}}</mark></p>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block aside_block %}
   

<h4 class="mt-2">Cool articles</h4>
               
                <img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail ">
                <p> A 2D game on python!</p>
                <a href="https://itproger.com/news/285" target="_blank">
                    <button class="btn btn-warning">Check</button>
                </a>
                <img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail mt-4">
                <p> cool engine Dodot. Check this out!</p>
                <a href="https://itproger.com/news/285" target="_blank">
                    <button class="btn btn-warning">Check</button>
                </a>
{% endblock %}
