{% extends 'main/base.html' %}
{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <h2>All articles by {{view.kwargs.username}}</h2>
    <h4>Amount: {{page_obj.paginator.count}}</h4>
   
    {% for post in news %}
        <div class="alert alert-light">
            <h1>{{ post.title }}</h1>
            <p>{{post.text}}</p>
            <div class="row">
                <div>
                    <img src="{{ post.autor.profile.img.url }}" alt="{{post.autor}}" class="user_images">
                </div>
            </div>
            <div class="mt-2">
                <span class="text-muted">Publication: {{post.date |date:"d E Y в: H:i"}}</span>
                    <p><b>Autor:</b> <a href="{% url 'user-news' post.autor %}">{{post.autor}}</a></p>
            </div>
            <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning mt-3">Read next</a>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
        <a href="{% url 'home' %}" class="btn btn-outline-danger">First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-danger">Previous</a>

        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
            <button class="btn btn-danger">{{num}}</button>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{num}}" class="btn btn-outline-danger">{{num}}</a>

            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-danger">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-danger">Last</a>

        {% endif %}
    {% endif %}


{% endblock %}

{% block aside_block %}
   

<h4 class="mt-2">Cool articles</h4>
               
                <img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail ">
                <p> A 2D game on python!</p>
                <a href="https://itproger.com/news/285" target="_blank">
                    <button class="btn btn-warning">Check</button>
                </a>
                <img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail mt-4">
                <p> cool engine Dodot. Check this out!</p>
                <a href="https://itproger.com/news/285" target="_blank">
                    <button class="btn btn-warning">Check</button>
                </a>
{% endblock %}
